@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color_text-primary: #f0eaf3;
    --color_text-secundary: #b6bcc2;
    --color_text-tertiary: #c1cbd4;
    --main_color-primary: #1d1c1d;
    --main_color-secundary: #000000;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}

header{
    width: 100%;
    background-color: #FAFBFE;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 200px;
    height: 100px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: var(--color_text-tertiary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover{
    color: var(--color_text-se);
}

.btn__quote{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--main_color-primary);
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 20px;
    transition: all 300ms;
}

.btn__quote:hover{
    color: white;
    background: var(--main_color-primary);
}

.menu .socialMedia{
    margin: 0px 10px;
}

.menu .socialMedia a{
    margin: 0px 4px;
}

.menu .socialMedia img{
    width: 20px;
}

/* Portada de inicio */
.container__cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--main_color-secundary);
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__cover{
    width: 100%;
    padding-right: 150px;
}

.text__cover h1{
    font-size: 60px;
    color: var(--color_text-secundary);
}
.text__cover .p1{
    margin-top: -10px;
    font-size: 80px;
    color: var(--background-color);
}

.text__cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__text:hover{
    background: white;
    border: 2px solid var(--main_color-primary);
    color: #000000;
}

.image__cover{
    width: 100%;
}

.image__cover img{
    width: 800px;
}

/* Estilos generales CARDS */
.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;

}

.text__card-primary p{
    color: var(--color_text-secundary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: black;
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    width: 300px; /* Tamaño fijo para el contenedor */
    height: 400px; /* Tamaño fijo para el contenedor */
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}



.box__card-primary:hover img{
    transform: scale(1.1);
}
.card__service .box__card-primary .img {
    width: 300px; /* Tamaño fijo para el contenedor */
    height: 200px; /* Tamaño fijo para el contenedor */
   
}

.card__service .box__card-primary .card__img {
    width: 240px; /* Tamaño fijo para el contenedor */
    height: 200px; /* Tamaño fijo para el contenedor */
    overflow: hidden; /* Oculta el contenido que excede los límites del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
   
}

.card__img  {
    width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    height:  200px; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    transition: all 0.3s; /* Agrega una transición suave */
    display: flex; /* Usa un modelo de caja flexible */
            justify-content: center; /* Centra horizontalmente */
            align-items: center; 

}
.card__img .img{
    max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
    max-height: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    transition: all 0.3s;
    object-fit: contain;
}


/*mi equipo*/
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
   
    
}

.card {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s;
}

.card .imgBx {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.card:hover img {
    transform: translateY(-20%);
}

.contentBx {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .contentBx {
    opacity: 1;
}

.contentBx h2 {
    margin: 0;
    font-size: 24px;
}

.contentBx p {
    margin: 10px 0;
    font-size: 14px;
}

.contentBx span a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.contentBx span a:hover {
    background-color: #fff;
    color: #000;
}






/* Sobre nosotros */
.container__about{
    padding: 100px 0px;
    background: var(--main_color-secundary);
    margin-top: 100px;
}

.about{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__about{
    width: 100%;
    padding-right: -600px;
}

.text__about h1{
    color: var(--background-color);
    font-weight: 600;
}

.text__about p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.image__about{
    width: 100%;
    display: flex;
}

.image__about img{
    width: 300px;
    margin-left: 500px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container__header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-right: auto;
    }

    .logo img {
        width: 150px;
        height: auto;
    }

    .menu{
        display: none;
    }
    .container__header .btn__quote{
        display: block; /* Muestra el botón de cotización */
    }

    .cover {
        flex-direction: column;
        text-align: center;
    }

    .text__cover {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .text__cover h1 {
        font-size: 40px;
    }

    .text__cover .p1 {
        font-size: 60px;
    }

    .text__cover p {
        font-size: 14px;
    }

    .btn__text {
        width: 120px;
        margin-top: 20px auto;
    }

    .image__cover {
        display: none; /* Oculta la imagen en dispositivos móviles */
    }

    .container__card-primary {
        padding-top: 50px;
    }

    .container__about {
        padding: 80px 10px;
    }

    .text__about {
        padding-right: 0;
    }

    .image__about img {
        width: 200px;
        margin-left: 0;
    }
    .container{
        display: block;
        margin: auto;
        height: auto;
    }
    .card {
        width: 90%;
        padding: 20px;
    }

    .card:hover .contentBx {
        opacity: 1;
    }
    .card .imgBx {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
    }
}



